In [ ]:

#!/usr/bin/env python3
# -*- coding: utf-8 -*-
"""

Created on Mon Apr 30 06:10:37 2018
1. In what state has the most deaths occurred?
2. Over what period (start and end) was the data collected?
3. What were the total number of deaths for 2006?
4. What state had the least deaths in 2001?
5. How many people die from "Diabetes mellitus" over the entire reporting period?
@author: Rohit Swami

"""

In [2]:
import pandas as pd
df = pd.read_csv('data.csv')

# Total number of deaths in all states
# 1236321

# Over what period (start and end) was the data collected?
# between 1999-2015 (included)


In what state has the most deaths occurred?
state_viz = df[['State', 'Deaths']].groupby('State').sum()
state_viz.sort_values('Deaths', ascending=False)

                       Deaths
State
United States         1236321
California             124645
Texas                   89396
Florida                 84349
New York                66379
Ohio                    62156
Pennsylvania            61194
Illinois                48715
Michigan                46791
New Jersey              38956
North Carolina          38660
Georgia                 30225
Tennessee               29649
Indiana                 29374
Virginia                27414
Washington              26178
Louisiana               25121
Missouri                25076
Arizona                 23210
Alabama                 22960
Maryland                22660
Wisconsin               21462
Massachusetts           21033
Kentucky                20632
Minnesota               19970
South Carolina          19906
Oklahoma                19599
Oregon                  17991
Arkansas                14108
Mississippi             13792
West Virginia           13346
Iowa                    12986
Colorado                12508
Connecticut             11714
Kansas                  11658
New Mexico              10196
Utah                     8871
Nebraska                 7502
Maine                    6367
Idaho                    5924
Nevada                   5892
New Hampshire            4974
Montana                  4215
Hawaii                   4184
Rhode Island             4107
South Dakota             3847
Delaware                 3644
North Dakota             3441
District of Columbia     2889
Vermont                  2755
Wyoming                  2034
Alaska                   1666

In [19]:
# Total no. of deaths in 2006
# 72449

# Removing the entries in 'United States' because it 
# contains the total number of deaths in that specific year
without_US = df[df.State.str.contains("United States") == False]

# Grouping deaths with years
year_viz = without_US[['Year', 'Deaths']].groupby('Year').sum()
year_viz

      Deaths
Year
1999   68399
2000   69301
2001   71372
2002   73249
2003   74219
2004   73138
2005   75119
2006   72449
2007   71382
2008   70553
2009   68705
2010   69071
2011   73831
2012   73932
2013   75578
2014   76488
2015   79535

In [24]:
state_viz = df[['Year', 'State', 'Deaths']].groupby('State')
list(state_viz)

[('Alabama',      Year    State  Deaths
  0    1999  Alabama    1341
  52   2000  Alabama    1321
  104  2001  Alabama    1344
  156  2002  Alabama    1486
  208  2003  Alabama    1414
  260  2004  Alabama    1449
  312  2005  Alabama    1429
  364  2006  Alabama    1453
  416  2007  Alabama    1313
  468  2008  Alabama    1386
  520  2009  Alabama    1259
  572  2010  Alabama    1302
  624  2011  Alabama    1278
  676  2012  Alabama    1300
  728  2013  Alabama    1349
  780  2014  Alabama    1281
  832  2015  Alabama    1255), ('Alaska',      Year   State  Deaths
  1    1999  Alaska      67
  53   2000  Alaska      87
  105  2001  Alaska      80
  157  2002  Alaska      86
  209  2003  Alaska     102
  261  2004  Alaska      93
  313  2005  Alaska      93
  365  2006  Alaska     109
  417  2007  Alaska     105
  469  2008  Alaska      93
  521  2009  Alaska      84
  573  2010  Alaska      86
  625  2011  Alaska     107
  677  2012  Alaska     107
  729  2013  Alaska     112
  781  2014  Alaska     113
  833  2015  Alaska     142), ('Arizona',      Year    State  Deaths
  2    1999  Arizona    1063
  54   2000  Arizona    1012
  106  2001  Arizona    1058
  158  2002  Arizona    1231
  210  2003  Arizona    1153
  262  2004  Arizona    1196
  314  2005  Arizona    1208
  366  2006  Arizona    1206
  418  2007  Arizona    1159
  470  2008  Arizona    1173
  522  2009  Arizona    1083
  574  2010  Arizona    1389
  626  2011  Arizona    1740
  678  2012  Arizona    1736
  730  2013  Arizona    1786
  782  2014  Arizona    1936
  834  2015  Arizona    2081), ('Arkansas',      Year     State  Deaths
  3    1999  Arkansas     691
  55   2000  Arkansas     714
  107  2001  Arkansas     756
  159  2002  Arkansas     793
  211  2003  Arkansas     884
  263  2004  Arkansas     838
  315  2005  Arkansas     824
  367  2006  Arkansas     839
  419  2007  Arkansas     838
  471  2008  Arkansas     901
  523  2009  Arkansas     890
  575  2010  Arkansas     850
  627  2011  Arkansas     908
  679  2012  Arkansas     833
  731  2013  Arkansas     835
  783  2014  Arkansas     828
  835  2015  Arkansas     886), ('California',      Year       State  Deaths
  4    1999  California    6401
  56   2000  California    6190
  108  2001  California    6395
  160  2002  California    6807
  212  2003  California    7093
  264  2004  California    7117
  316  2005  California    7697
  368  2006  California    7376
  420  2007  California    7413
  472  2008  California    7375
  524  2009  California    6979
  576  2010  California    7061
  628  2011  California    7695
  680  2012  California    7895
  732  2013  California    8057
  784  2014  California    8249
  836  2015  California    8845), ('Colorado',      Year     State  Deaths
  5    1999  Colorado     639
  57   2000  Colorado     635
  109  2001  Colorado     667
  161  2002  Colorado     659
  213  2003  Colorado     708
  265  2004  Colorado     696
  317  2005  Colorado     753
  369  2006  Colorado     677
  421  2007  Colorado     710
  473  2008  Colorado     767
  525  2009  Colorado     779
  577  2010  Colorado     721
  629  2011  Colorado     790
  681  2012  Colorado     797
  733  2013  Colorado     788
  785  2014  Colorado     835
  837  2015  Colorado     887), ('Connecticut',      Year        State  Deaths
  6    1999  Connecticut     691
  58   2000  Connecticut     683
  110  2001  Connecticut     759
  162  2002  Connecticut     675
  214  2003  Connecticut     665
  266  2004  Connecticut     767
  318  2005  Connecticut     811
  370  2006  Connecticut     782
  422  2007  Connecticut     646
  474  2008  Connecticut     624
  526  2009  Connecticut     624
  578  2010  Connecticut     662
  630  2011  Connecticut     692
  682  2012  Connecticut     631
  734  2013  Connecticut     664
  786  2014  Connecticut     685
  838  2015  Connecticut     653), ('Delaware',      Year     State  Deaths
  7    1999  Delaware     179
  59   2000  Delaware     193
  111  2001  Delaware     218
  163  2002  Delaware     215
  215  2003  Delaware     239
  267  2004  Delaware     210
  319  2005  Delaware     233
  371  2006  Delaware     191
  423  2007  Delaware     223
  475  2008  Delaware     217
  527  2009  Delaware     206
  579  2010  Delaware     196
  631  2011  Delaware     224
  683  2012  Delaware     241
  735  2013  Delaware     218
  787  2014  Delaware     226
  839  2015  Delaware     215), ('District of Columbia',
       Year                 State  Deaths
  8    1999  District of Columbia     221
  60   2000  District of Columbia     221
  112  2001  District of Columbia     209
  164  2002  District of Columbia     191
  216  2003  District of Columbia     179
  268  2004  District of Columbia     224
  320  2005  District of Columbia     192
  372  2006  District of Columbia     184
  424  2007  District of Columbia     152
  476  2008  District of Columbia     156
  528  2009  District of Columbia     129
  580  2010  District of Columbia     145
  632  2011  District of Columbia     152
  684  2012  District of Columbia     145
  736  2013  District of Columbia     108
  788  2014  District of Columbia     119
  840  2015  District of Columbia     162), ('Florida',
       Year    State  Deaths
  9    1999  Florida    4357
  61   2000  Florida    4449
  113  2001  Florida    4631
  165  2002  Florida    4583
  217  2003  Florida    4762
  269  2004  Florida    4809
  321  2005  Florida    5193
  373  2006  Florida    5172
  425  2007  Florida    5110
  477  2008  Florida    5161
  529  2009  Florida    4901
  581  2010  Florida    5024
  633  2011  Florida    5093
  685  2012  Florida    5092
  737  2013  Florida    5238
  789  2014  Florida    5371
  841  2015  Florida    5403), ('Georgia',      Year    State  Deaths
  10   1999  Georgia    1448
  62   2000  Georgia    1461
  114  2001  Georgia    1475
  166  2002  Georgia    1576
  218  2003  Georgia    1717
  270  2004  Georgia    1623
  322  2005  Georgia    1742
  374  2006  Georgia    1657
  426  2007  Georgia    1604
  478  2008  Georgia    1496
  530  2009  Georgia    1582
  582  2010  Georgia    1996
  634  2011  Georgia    2121
  686  2012  Georgia    2088
  738  2013  Georgia    2199
  790  2014  Georgia    2230
  842  2015  Georgia    2210), ('Hawaii',      Year   State  Deaths
  11   1999  Hawaii     211
  63   2000  Hawaii     203
  115  2001  Hawaii     173
  167  2002  Hawaii     204
  219  2003  Hawaii     202
  271  2004  Hawaii     194
  323  2005  Hawaii     218
  375  2006  Hawaii     271
  427  2007  Hawaii     291
  479  2008  Hawaii     286
  531  2009  Hawaii     308
  583  2010  Hawaii     272
  635  2011  Hawaii     264
  687  2012  Hawaii     277
  739  2013  Hawaii     271
  791  2014  Hawaii     276
  843  2015  Hawaii     263), ('Idaho',      Year  State  Deaths
  12   1999  Idaho     267
  64   2000  Idaho     304
  116  2001  Idaho     318
  168  2002  Idaho     322
  220  2003  Idaho     358
  272  2004  Idaho     344
  324  2005  Idaho     299
  376  2006  Idaho     320
  428  2007  Idaho     331
  480  2008  Idaho     356
  532  2009  Idaho     372
  584  2010  Idaho     353
  636  2011  Idaho     393
  688  2012  Idaho     371
  740  2013  Idaho     404
  792  2014  Idaho     409
  844  2015  Idaho     403), ('Illinois',      Year     State  Deaths
  13   1999  Illinois    3004
  65   2000  Illinois    2995
  117  2001  Illinois    3092
  169  2002  Illinois    3011
  221  2003  Illinois    3044
  273  2004  Illinois    3069
  325  2005  Illinois    3034
  377  2006  Illinois    2795
  429  2007  Illinois    2851
  481  2008  Illinois    2846
  533  2009  Illinois    2741
  585  2010  Illinois    2507
  637  2011  Illinois    2693
  689  2012  Illinois    2706
  741  2013  Illinois    2798
  793  2014  Illinois    2712
  845  2015  Illinois    2817), ('Indiana',      Year    State  Deaths
  14   1999  Indiana    1591
  66   2000  Indiana    1673
  118  2001  Indiana    1677
  170  2002  Indiana    1688
  222  2003  Indiana    1731
  274  2004  Indiana    1673
  326  2005  Indiana    1719
  378  2006  Indiana    1682
  430  2007  Indiana    1564
  482  2008  Indiana    1683
  534  2009  Indiana    1646
  586  2010  Indiana    1587
  638  2011  Indiana    1808
  690  2012  Indiana    1860
  742  2013  Indiana    1943
  794  2014  Indiana    1819
  846  2015  Indiana    2030), ('Iowa',      Year State  Deaths
  15   1999  Iowa     684
  67   2000  Iowa     630
  119  2001  Iowa     709
  171  2002  Iowa     734
  223  2003  Iowa     727
  275  2004  Iowa     700
  327  2005  Iowa     727
  379  2006  Iowa     804
  431  2007  Iowa     767
  483  2008  Iowa     764
  535  2009  Iowa     702
  587  2010  Iowa     733
  639  2011  Iowa     770
  691  2012  Iowa     692
  743  2013  Iowa     747
  795  2014  Iowa    1019
  847  2015  Iowa    1077), ('Kansas',      Year   State  Deaths
  16   1999  Kansas     650
  68   2000  Kansas     668
  120  2001  Kansas     721
  172  2002  Kansas     765
  224  2003  Kansas     676
  276  2004  Kansas     690
  328  2005  Kansas     710
  380  2006  Kansas     749
  432  2007  Kansas     702
  484  2008  Kansas     706
  536  2009  Kansas     635
  588  2010  Kansas     655
  640  2011  Kansas     711
  692  2012  Kansas     639
  744  2013  Kansas     654
  796  2014  Kansas     643
  848  2015  Kansas     684), ('Kentucky',      Year     State  Deaths
  17   1999  Kentucky    1133
  69   2000  Kentucky    1107
  121  2001  Kentucky    1099
  173  2002  Kentucky    1265
  225  2003  Kentucky    1296
  277  2004  Kentucky    1195
  329  2005  Kentucky    1187
  381  2006  Kentucky    1141
  433  2007  Kentucky    1091
  485  2008  Kentucky    1214
  537  2009  Kentucky    1348
  589  2010  Kentucky    1212
  641  2011  Kentucky    1268
  693  2012  Kentucky    1256
  745  2013  Kentucky    1187
  797  2014  Kentucky    1175
  849  2015  Kentucky    1458), ('Louisiana',      Year      State  Deaths
  18   1999  Louisiana    1687
  70   2000  Louisiana    1694
  122  2001  Louisiana    1734
  174  2002  Louisiana    1774
  226  2003  Louisiana    1740
  278  2004  Louisiana    1717
  330  2005  Louisiana    1695
  382  2006  Louisiana    1536
  434  2007  Louisiana    1437
  486  2008  Louisiana    1332
  538  2009  Louisiana    1249
  590  2010  Louisiana    1205
  642  2011  Louisiana    1265
  694  2012  Louisiana    1290
  746  2013  Louisiana    1329
  798  2014  Louisiana    1238
  850  2015  Louisiana    1199), ('Maine',      Year  State  Deaths
  19   1999  Maine     348
  71   2000  Maine     357
  123  2001  Maine     398
  175  2002  Maine     404
  227  2003  Maine     398
  279  2004  Maine     382
  331  2005  Maine     385
  383  2006  Maine     343
  435  2007  Maine     355
  487  2008  Maine     344
  539  2009  Maine     350
  591  2010  Maine     376
  643  2011  Maine     353
  695  2012  Maine     380
  747  2013  Maine     373
  799  2014  Maine     414
  851  2015  Maine     407), ('Maryland',      Year     State  Deaths
  20   1999  Maryland    1422
  72   2000  Maryland    1515
  124  2001  Maryland    1458
  176  2002  Maryland    1519
  228  2003  Maryland    1454
  280  2004  Maryland    1417
  332  2005  Maryland    1388
  384  2006  Maryland    1237
  436  2007  Maryland    1301
  488  2008  Maryland    1239
  540  2009  Maryland    1207
  592  2010  Maryland    1191
  644  2011  Maryland    1297
  696  2012  Maryland    1218
  748  2013  Maryland    1249
  800  2014  Maryland    1305
  852  2015  Maryland    1243), ('Massachusetts',
       Year          State  Deaths
  21   1999  Massachusetts    1354
  73   2000  Massachusetts    1361
  125  2001  Massachusetts    1422
  177  2002  Massachusetts    1423
  229  2003  Massachusetts    1424
  281  2004  Massachusetts    1329
  333  2005  Massachusetts    1271
  385  2006  Massachusetts    1132
  437  2007  Massachusetts    1222
  489  2008  Massachusetts    1079
  541  2009  Massachusetts    1007
  593  2010  Massachusetts    1028
  645  2011  Massachusetts    1140
  697  2012  Massachusetts    1099
  749  2013  Massachusetts    1142
  801  2014  Massachusetts    1202
  853  2015  Massachusetts    1398), ('Michigan',      Year     State  Deaths
  22   1999  Michigan    2587
  74   2000  Michigan    2603
  126  2001  Michigan    2655
  178  2002  Michigan    2785
  230  2003  Michigan    2640
  282  2004  Michigan    2953
  334  2005  Michigan    2842
  386  2006  Michigan    2830
  438  2007  Michigan    2826
  490  2008  Michigan    2752
  542  2009  Michigan    2705
  594  2010  Michigan    2697
  646  2011  Michigan    2811
  698  2012  Michigan    2685
  750  2013  Michigan    2825
  802  2014  Michigan    2844
  854  2015  Michigan    2751), ('Minnesota',      Year      State  Deaths
  23   1999  Minnesota    1249
  75   2000  Minnesota    1209
  127  2001  Minnesota    1213
  179  2002  Minnesota    1317
  231  2003  Minnesota    1276
  283  2004  Minnesota    1130
  335  2005  Minnesota    1258
  387  2006  Minnesota    1158
  439  2007  Minnesota    1084
  491  2008  Minnesota    1087
  543  2009  Minnesota    1021
  595  2010  Minnesota    1037
  647  2011  Minnesota    1189
  699  2012  Minnesota    1165
  751  2013  Minnesota    1163
  803  2014  Minnesota    1193
  855  2015  Minnesota    1221), ('Mississippi',      Year        State  Deaths
  24   1999  Mississippi     593
  76   2000  Mississippi     676
  128  2001  Mississippi     661
  180  2002  Mississippi     671
  232  2003  Mississippi     680
  284  2004  Mississippi     665
  336  2005  Mississippi     677
  388  2006  Mississippi     707
  440  2007  Mississippi     654
  492  2008  Mississippi     758
  544  2009  Mississippi     900
  596  2010  Mississippi     926
  648  2011  Mississippi     996
  700  2012  Mississippi    1050
  752  2013  Mississippi    1071
  804  2014  Mississippi    1015
  856  2015  Mississippi    1092), ('Missouri',      Year     State  Deaths
  25   1999  Missouri    1554
  77   2000  Missouri    1458
  129  2001  Missouri    1535
  181  2002  Missouri    1625
  233  2003  Missouri    1666
  285  2004  Missouri    1461
  337  2005  Missouri    1549
  389  2006  Missouri    1493
  441  2007  Missouri    1444
  493  2008  Missouri    1348
  545  2009  Missouri    1335
  597  2010  Missouri    1425
  649  2011  Missouri    1438
  701  2012  Missouri    1377
  753  2013  Missouri    1477
  805  2014  Missouri    1423
  857  2015  Missouri    1468), ('Montana',      Year    State  Deaths
  26   1999  Montana     244
  78   2000  Montana     227
  130  2001  Montana     229
  182  2002  Montana     210
  234  2003  Montana     261
  286  2004  Montana     237
  338  2005  Montana     285
  390  2006  Montana     249
  442  2007  Montana     258
  494  2008  Montana     254
  546  2009  Montana     228
  598  2010  Montana     227
  650  2011  Montana     252
  702  2012  Montana     233
  754  2013  Montana     250
  806  2014  Montana     250
  858  2015  Montana     321), ('Nebraska',      Year     State  Deaths
  27   1999  Nebraska     372
  79   2000  Nebraska     411
  131  2001  Nebraska     400
  183  2002  Nebraska     393
  235  2003  Nebraska     407
  287  2004  Nebraska     395
  339  2005  Nebraska     449
  391  2006  Nebraska     437
  443  2007  Nebraska     472
  495  2008  Nebraska     470
  547  2009  Nebraska     445
  599  2010  Nebraska     452
  651  2011  Nebraska     460
  703  2012  Nebraska     442
  755  2013  Nebraska     471
  807  2014  Nebraska     473
  859  2015  Nebraska     553), ('Nevada',      Year   State  Deaths
  28   1999  Nevada     286
  80   2000  Nevada     276
  132  2001  Nevada     322
  184  2002  Nevada     343
  236  2003  Nevada     301
  288  2004  Nevada     290
  340  2005  Nevada     336
  392  2006  Nevada     294
  444  2007  Nevada     312
  496  2008  Nevada     373
  548  2009  Nevada     377
  600  2010  Nevada     350
  652  2011  Nevada     400
  704  2012  Nevada     438
  756  2013  Nevada     424
  808  2014  Nevada     350
  860  2015  Nevada     420), ('New Hampshire',
       Year          State  Deaths
  29   1999  New Hampshire     294
  81   2000  New Hampshire     297
  133  2001  New Hampshire     291
  185  2002  New Hampshire     311
  237  2003  New Hampshire     300
  289  2004  New Hampshire     313
  341  2005  New Hampshire     310
  393  2006  New Hampshire     296
  445  2007  New Hampshire     280
  497  2008  New Hampshire     297
  549  2009  New Hampshire     276
  601  2010  New Hampshire     236
  653  2011  New Hampshire     280
  705  2012  New Hampshire     275
  757  2013  New Hampshire     310
  809  2014  New Hampshire     300
  861  2015  New Hampshire     308), ('New Jersey',
       Year       State  Deaths
  30   1999  New Jersey    2436
  82   2000  New Jersey    2483
  134  2001  New Jersey    2556
  186  2002  New Jersey    2532
  238  2003  New Jersey    2484
  290  2004  New Jersey    2595
  342  2005  New Jersey    2540
  394  2006  New Jersey    2454
  446  2007  New Jersey    2329
  498  2008  New Jersey    2242
  550  2009  New Jersey    1959
  602  2010  New Jersey    2098
  654  2011  New Jersey    2222
  706  2012  New Jersey    1988
  758  2013  New Jersey    2043
  810  2014  New Jersey    2062
  862  2015  New Jersey    1933), ('New Mexico',      Year       State  Deaths
  31   1999  New Mexico     517
  83   2000  New Mexico     485
  135  2001  New Mexico     538
  187  2002  New Mexico     582
  239  2003  New Mexico     599
  291  2004  New Mexico     590
  343  2005  New Mexico     595
  395  2006  New Mexico     606
  447  2007  New Mexico     673
  499  2008  New Mexico     582
  551  2009  New Mexico     597
  603  2010  New Mexico     643
  655  2011  New Mexico     612
  707  2012  New Mexico     652
  759  2013  New Mexico     646
  811  2014  New Mexico     671
  863  2015  New Mexico     608), ('New York',      Year     State  Deaths
  32   1999  New York    3799
  84   2000  New York    3877
  136  2001  New York    3844
  188  2002  New York    3934
  240  2003  New York    4227
  292  2004  New York    3913
  344  2005  New York    4051
  396  2006  New York    3848
  448  2007  New York    3715
  500  2008  New York    3605
  552  2009  New York    3723
  604  2010  New York    3642
  656  2011  New York    3988
  708  2012  New York    4010
  760  2013  New York    4094
  812  2014  New York    4064
  864  2015  New York    4045), ('North Carolina',
       Year           State  Deaths
  33   1999  North Carolina    2050
  85   2000  North Carolina    2084
  137  2001  North Carolina    2181
  189  2002  North Carolina    2205
  241  2003  North Carolina    2388
  293  2004  North Carolina    2253
  345  2005  North Carolina    2261
  397  2006  North Carolina    2234
  449  2007  North Carolina    2156
  501  2008  North Carolina    2170
  553  2009  North Carolina    2114
  605  2010  North Carolina    2042
  657  2011  North Carolina    2278
  709  2012  North Carolina    2409
  761  2013  North Carolina    2402
  813  2014  North Carolina    2687
  865  2015  North Carolina    2746), ('North Dakota',
       Year         State  Deaths
  34   1999  North Dakota     203
  86   2000  North Dakota     203
  138  2001  North Dakota     196
  190  2002  North Dakota     214
  242  2003  North Dakota     211
  294  2004  North Dakota     209
  346  2005  North Dakota     204
  398  2006  North Dakota     208
  450  2007  North Dakota     226
  502  2008  North Dakota     201
  554  2009  North Dakota     214
  606  2010  North Dakota     192
  658  2011  North Dakota     207
  710  2012  North Dakota     185
  762  2013  North Dakota     197
  814  2014  North Dakota     176
  866  2015  North Dakota     195), ('Ohio',      Year State  Deaths
  35   1999  Ohio    3675
  87   2000  Ohio    3691
  139  2001  Ohio    3750
  191  2002  Ohio    3846
  243  2003  Ohio    3731
  295  2004  Ohio    3615